<div class="title-home-page">
    <h2>Medals per Country</h2>
</div>

<div *ngIf="isLoading">
    <h3>Chargement des données ...</h3>
</div>

<div *ngIf="!isLoading">
    <div class="global-view">
        <div class="detail-view">
            <p class="title-view">Number of JOs</p>
            <p class="value-view">{{ totalJos}}</p>
        </div>
        <div class="detail-view">
            <p class="title-view">Number of countries</p>
            <p class="value-view">{{ totalCountries }}</p>
        </div>
    </div>
    
    <div class="card flex justify-content-center">
        <p-chart type="pie" [data]="data" [options]="options" [responsive]="true" (onDataSelect)="onDetailChart($event.element.index)"/>
    </div>
</div>