/* You can add global styles to this file, and also import other style files */
.title-home-page {
    display: flex;
    justify-content: center;

    h2 {
        background-color: #04838f;
        color: #f2f8f9;
        font-weight: normal;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
    }
}

.global-view {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding-bottom: 50px;

    .detail-view {
        text-align: center;
        border: 2px solid #04838f;
        border-radius: 10px;
        padding-inline: 10px;

        .title-view {
            color: #767676;
        }

        .value-view {
            font-weight: bold;
        }
    }
}